<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>大切な思い出を、家族みんなで。</h1>
      <%= link_to 'ログイン' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

