<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>大切な思い出を、みんなで・・・</h1>
      <%#= link_to 'モノリストを始める' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

