.main_view {
  margin-top: 15px;
  background: #FFF;

  .abstract_sidebar {
    height: 100vh;
    overflow: auto;
    border-right-style: ridge;
    
    .abstract_notes {
      :hover {
          background: #DDDDDD;
      }

      .abstract_note {
        margin-top: 3px;
        margin-bottom: 3px;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #DDDDDD;
        .note_thumbnail {
          position: relative;
          text-align: center;
          .note_thumbnail_image {
            height: 100px;
            width: auto;
          } 
          .note_thumbnail_movie {
            position: absolute;
            top: 30px;
            left: 37%;
            height: 40px;
          }
        }
        .note_title {
          padding-top: 34px;
          font-family: "Open Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
          font-size: 22px;
          color: #000000;
        }
      }
    }
  }
  
  .detail_note {
    height: 90vh;
    overflow: auto;

    .note_meta {
      border-bottom-style: solid;
      border-width: 1px;
      border-color: #DDDDDD;
      height: 60px;
      .note_title {
        padding-top: 10px;
        font-family: "Open Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
        font-size: 22px;
        color: #000000;
      }
      .note_users {
        border-left-style: solid;
        border-width: 1px;
        border-color: #DDDDDD;
        margin-top: 4px;
        margin-left: 2px;
        
        .note_user {
          display: inline-block;
          .related_user_image {
            margin-left: 2px;
            width: 50px;
            height: 50px;
            border-radius: 70%;
            border: 3px solid #F00;
            box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
          }
          .not_related_user_image {
            margin-left: 2px;
            width: 50px;
            height: 50px;
            border-radius: 70%;
            border: 3px solid #AAA;
            box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
            opacity: 0.7;
          }
        }
      }
      .favorite {
        margin-top: 4px;
        .favorite_on {
        }
        .favorite_off {
        }
      }
    }
    .note_image_comments {
      margin-top: 5px;
      
      .note_image {
        position: relative;
        width: 500px;
        .note_image_base {

        }
        .note_image_overlay {
          position: absolute;
          //top: 30px;
          //left: 30px;
          display: inline-block;
            color: #FF0000;
          :hover{
            border-style: solid;
            border-width: 4px;
            border-color: rgba(255,255,0,0.8);
            > span {
              color: #FFFFFF;
            }
          }
        }
      }

      .note_comments {
        height: 60px;
        margin-top: 3px;
        margin-bottom: 3px;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #DDDDDD;
        .comment_image {
          img {
            height: 50px;
            width: auto;
          }
        }
        .comment {
          font-family: "Open Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
          font-size: 15px;
          color: #000000;
          word-wrap: break-word;
        }
        .comment_post {
          margin-top: 15px;
        }
      }
    }
  }
}
